* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Inter, sans-serif;
    background-color: #FAFAF8;
    display: border-box;
}

/* Navbar Section */
.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
    background-color: #333;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

.links {
    margin: 0px 20px;
    font-size: 18px;
    text-decoration: none;
    color: white;
}


/* Main Section (input Filed)*/

.form {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form #inputtext {
    flex-grow: 1;
    max-width: 400px;
    min-width: 150px;
    margin-right: 12px;
    padding: 11px;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

form #inputbtn {
    box-sizing: border-box;
    font-family: Inter, sans-serif;
    width: 10rem;
    padding: 9px;
    background-color: #141413db;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 14px;
}

#inputbtn:hover {
    background-color: #131312;
    cursor: pointer;
}
#inputbtn:active{
    border: 2px solid rgb(67, 67, 255);
}

